.navcolor:hover {
    color: grey;
    /* background:#00BFFF; */

    /* border-radius:5px; */

}

.navfix {
    position: fixed;
    width: 100%;
    z-index: 1000000;
    top: 0;
}

.navcolor {
    font-family: monospace;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

/* .navtrans{
    background: transparent;
}     */
.bimg {
    /* background-image: url('./images/1.jpg'); */
    background-repeat: no-repeat;
   
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
}

#nav1 {
    /* below properties can be used to make whole navbar transparent */
    /* background-color:black; 
        opacity: 0.5; 
        filter:(opacity=50);        */
    background: rgba(38, 37, 37, 0.3);
    /* it doesn't apply on child elements */
}

.section-contact{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
    
    
}
.section-intro{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
    
    
}
.section-about{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
    
    
}
.section-projects{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
    
    
}
.section-skills{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
    
    
}
.intro-content
{
    margin-left: 50px;
    display: inline;
}
#intro
{
    background: pink;
}
#About {
    background:white;
    
}

#Projects {
    background: pink;
}

#Skills {
    background: white;
}

#ContactMe {
    font-family: monospace;
    color: black;
    background:pink;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #000;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-family: monospace;
    font-size: small;
}

/* #nodeco
{
    text-decoration: none;

} */
.icon-whatsapp
{
 margin-left: 12px;   
 color: green;
 
}
.icon-instagram
{
 margin-left: 12px;   
 color: rgb(206, 15, 114);
}
.icon-twitter
{
 margin-left: 12px;   
 
}
.social-media a 
{
    display: inline-flex;
    font-size: 25px;
}
.multitextcolor
{
    color: chocolate;
}
.mclass
{
margin: 0;
  padding: 0;
}
.image
{
   
    height: 350px;
    width: 100%;
}
.heading-projects
{ 
    
    text-align: center;
    
}











@media(max-width: 700px) {
    .image{
        height: 300px;
        width: 80%;
        
    }
    
    .section-about
    {
        padding-top: 60px;
        height: 100%;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
}
    .margin
    {   
        margin-bottom: 30px;
    }
    .margin2
    {   
        margin-bottom: 15px;
    }
    .about-row
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projects-margin
    {
        margin:auto
    }
  }
  @media(max-width: 320px)
  {
    .image{
        height: 200px;
        width: 80%;
        
    }
    .small-text
    {
        font-size: medium;
    }
    .icon
{
 margin-left: 5px;   
 height: 5px;
 width: 17px;
}
.firsticon
{
    height: 5px;
    width: 17px;
}
.icon-whatsapp{
    margin-left: 12px;   
    color: green;
    margin-left: 5px;   
    height: 5px;
    width: 17px;
   }
   .icon-instagram
   {
    margin-left: 12px;   
    color: rgb(206, 15, 114);
    margin-left: 5px;   
    height: 5px;
    width: 17px;
   }
   .icon-twitter
   {
    margin-left: 12px; 
    margin-left: 5px;   
    height: 5px;
    width: 17px;  
    
   }
  }